body {
    background-color: #36393e;
}
#header{
    height: 80px;
    margin: 0;
    background: url("../img/bandeau.jpg") repeat-x;
}
.alltext{
    color: white;
    position: relative;
    top: -50px;
    margin-left: 6%;
    margin-right: 10%;
    display: inline;
}
a {
    text-decoration: none;
}
[name = fox]{
    color: white;
    position: relative;
    top: -50px;
    margin-left: 6%;
    margin-right: 10%;
    display: inline;
    text-decoration: underline;
}
.ghostwhite{
    color: ghostwhite;
}
[name=titre1] {
    text-align: center;
}
[name= img1] {
    text-decoration-color: white;
    position: relative; top: 10; left: 10 
}
