body {
    background-color: #36393e;
}
[name= titre_1] {
    color: white;
    border-style: solid;
    border-color: white;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.animals {
    border-style: solid;
    border-color: white;
    width: 25%;
    height: 25%;
    margin-right: 5%;
}
.white{
    color: white;
}
[name = info]{
    color: white;
    text-decoration: none;
    position: relative;
    top: 120px;
    left: 30px;
}
[name = text_explicatif]{
    position: relative;
    top: 10px;
    left: 30px;
}
[name = all_img]{
    position: relative;
    top: 50px;
}
